body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{margin: 0; padding: 0; border: 0; outline: none;}
ul, ol{list-style: none;}
a{color: black;text-decoration: none;}
html{font-size: 10px;font-family: "Microsoft YaHei",Arial;background: #fff;}
body{background: #fff;}


/*list*/
.mui-content{background: #fff;}
.mui-table-view-cell{padding: 13px 15px;font-size: 14px}
.mui-table-view-cell>a:not(.mui-btn) {margin: -13px -15px;}
.mui-input-group .mui-input-row{height: 50px;}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {height: 50px;}
.mui-input-row label{line-height: 50px;padding: 0 15px;font-size: 14px;color: #555;}
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{font-size: 14px;color: #c1c1c1;}

/*get-code*/
.mui-input-row .mui-btn.get-code{position: absolute;right: 15px;height: 26px; width: 90px;line-height: 27px; padding: 0;  background: #3977fe;color: #fff; font-size: 12px; margin-top: 12px;border-radius: 5px;border: none;}
.mui-input-group:after,.mui-input-group:before {height: 0;}



/*login*/
.login-h{margin:60px 80px;text-align: center;}
.login-h a img{width: 40px;height: 39px;}
